## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дана строка:

In [1]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [2]:
len(string_01.replace(' ', ''))

225

2. Посчитайте, сколько в строке слов.

In [3]:
import re

len(re.findall(r'\w+', string_01))

45

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [4]:
def word_starts_with_letter(letter, string):
    regex = r'\b[' + letter + letter.upper() + ']\w+'
    return re.findall(regex, string)
    

word_starts_with_letter('w', string_01)

['written', 'winners', 'When', 'winner', 'writes', 'which', 'What']

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [5]:
import random

sample = random.sample(range(10), k=5)
position = random.randint(0, 6)
sample.insert(position, 3)
''.join(map(str, sample))

'339876'

#### Задача 3

Дан список:

In [6]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [7]:
sum([x for x in list_01 if 10 < x <100 or 200 < x < 500])

1291

#### Задача 4

Данные студентов представлены в виде списка списков:

In [8]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [9]:
import pprint

transformed_students = {student[0]: student[1:] for student in students}
pprint.pprint(transformed_students)

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый внутри созданного словаря.

In [10]:
def transfer_student(number, group, students):
    student = students[number]
    student.pop()
    student.append(group)

transfer_student('4004', 'БСТ163', transformed_students)
pprint.pprint(transformed_students)

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ163']}

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [11]:
def print_group(group, students):
    for number, student in students.items():
        last_name, first_name, patronymic, date, group_ = student
        if group == group_:
            print(f'{last_name} {first_name} {patronymic}')

print_group('БСТ163', transformed_students)

Глаголева Анастасия Николаевна
Степанова Наталья Александровна

#### Задача 5

Дана матрица:

In [12]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [13]:
sum([sum(row) for row in matrix])

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [14]:
get_column = lambda k, matrix: [row[k] for row in matrix]
#get_column(0, matrix)
reversed_matrix = [get_column(i, matrix) for i in range(len(matrix[0]))]
max([sum(row) for row in reversed_matrix])

22

In [15]:
list(zip(*matrix))

[(0, 6, 3, 4, 5),
 (1, 2, 3, 6, 7),
 (2, 2, 3, 7, 3),
 (4, 1, 3, 1, 4),
 (8, 9, 3, 2, 0)]